[submodule ".vim.symlink/bundle/vim-sorround"]
	path = .vim.symlink/bundle/vim-sorround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim.symlink/bundle/vim-rails"]
	path = .vim.symlink/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim.symlink/bundle/vim-pathogen"]
	path = .vim.symlink/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim.symlink/bundle/ctrlp.vim"]
	path = .vim.symlink/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim.symlink/bundle/ack.vim"]
	path = .vim.symlink/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim.symlink/bundle/delimitMate"]
	path = .vim.symlink/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim.symlink/bundle/supertab"]
	path = .vim.symlink/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim.symlink/bundle/vimerl"]
	path = .vim.symlink/bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule ".vim.symlink/bundle/syntastic"]
	path = .vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
